/* fakecss:V:/share/code/ele-robot/src/componets/TitleBar.esbuild-svelte-fake-css */
img.svelte-1g9cs3q.svelte-1g9cs3q {
  width: 20px;
  height: 20px;
  padding-top: 2.5px;
}
nav.svelte-1g9cs3q.svelte-1g9cs3q {
  width: 100%;
  height: 30px;
  background-color: #333333;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  z-index: 1;
}
nav.svelte-1g9cs3q #titleshown.svelte-1g9cs3q {
  width: 30%;
  height: 100%;
  line-height: 30px;
  color: #f7f7f7;
  float: left;
  padding: 0 0 0 1em;
}
nav.svelte-1g9cs3q #buttons.svelte-1g9cs3q {
  float: right;
  width: 150px;
  height: 100%;
  line-height: 30px;
  background-color: #222222;
  -webkit-app-region: no-drag;
}
nav.svelte-1g9cs3q #buttons #minimize.svelte-1g9cs3q,
nav.svelte-1g9cs3q #buttons #maximize.svelte-1g9cs3q,
nav.svelte-1g9cs3q #buttons #quit.svelte-1g9cs3q {
  float: left;
  height: 100%;
  width: 33%;
  text-align: center;
  color: #f7f7f7;
  cursor: default;
}
nav.svelte-1g9cs3q #buttons #minimize.svelte-1g9cs3q:hover {
  background-color: #333333;
}
nav.svelte-1g9cs3q #buttons #maximize.svelte-1g9cs3q:hover {
  background-color: #333333;
}
nav.svelte-1g9cs3q #buttons #quit.svelte-1g9cs3q:hover {
  background-color: #ff0000;
}

/* fakecss:V:/share/code/ele-robot/src/App.esbuild-svelte-fake-css */
body {
  background-color: #252525;
}
main.svelte-1dges0o {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}
